.clients__title {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }

  @include desktop {
    margin-bottom: 50px;
  }
}

.companies-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: -30px;
  margin-left: -30px;
}

.companies-list__item {
  margin-bottom: 30px;
  margin-left: 30px;

  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
  }

  @include tablet {
    flex-basis: calc(100% / 3 - 30px);
  }

  @include desktop {
    flex-basis: calc(100% / 6 - 30px);
  }
}

.companies-list__link {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  fill: var(--primary-icon-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
  transition: fill var(--duration) var(--timing-function),
    border var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
