.header {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid var(--primary-border-color);
}

.header .container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  color: var(--primary-black-color);

  @include tablet {
    margin-right: 88px;
  }

  @include desktop {
    margin-right: 93px;
  }
}

.logo__accent {
  color: var(--accent-color);
}

.menu-list {
  @include tablet {
    display: flex;
  }
}

.menu-list__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @include tablet {
    position: relative;
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.menu-list__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.menu-list__link--current {
  color: var(--accent-color);

  @include tablet {
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      border-radius: 2px;
      transform: translateY(1px);
    }
  }
}

.contacts {
  @include desktop {
    display: flex;
  }
}

.header__contacts {
  @include tablet {
    margin-left: auto;
  }
}

.contacts__item + .contacts__item {
  @media screen and (max-width: 767px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 10px;
  }
  @include desktop {
    margin-left: 30px;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color var(--duration) var(--timing-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include tablet {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.17;
  }

  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__icon {
  margin-right: 8px;
  fill: currentColor;

  @include desktop {
    margin-right: 10px;
  }
}

.contacts__icon--small-enevelop {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 14px;
    height: 10px;
  }
}

.contacts__icon--small-smartphone {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 14px;
  }
}

.hidden {
  @media (max-width: 767px) {
    display: none;
  }
}

.mob-menu-btn {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @include tablet {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--primary-white-color);
  z-index: 999;
  transform: translateX(100%);
  transition: transform var(--duration) var(--timing-function);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .mob-menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__link-smaller {
  font-size: 24px;
}

.menu-soc-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 64px;
}

.menu-soc-list__item {
  &:not(:first-child) {
    padding-left: 10px;
  }

  &:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-soc-list__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
