:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-black-color: #000000;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --btn-background-color: #188ce8;
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --primary-icon-color: #afb1b8;
  --primary-footer-color: rgba(255, 255, 255, 0.6);
  --modal-text-color: rgba(117, 117, 117, 0.5);
  --duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
